
a,
#menu a {
  color: $color-primary;
  text-decoration: none;
  transition: 0.3s;
}

#page input[type="submit"],
input[type="submit"],
.forum_thread_new a,
.forum_post_report a,
.forum_post_quote a,
.forum_post_reply a,
.forum_post_edit a,
.forum_post_delete a,
#mce_editor_0_parent input,
#bcalc input[type="button"],
#bcalc input[type="submit"],
#page input[type="button"],
#add_other input[type="button"] {
  display: inline-block;
  height: 1.5rem;
  margin: 1rem 0;
  padding: 0 0.5rem;
  color: $color-offwhite;
  background: $color-primary;
  background: linear-gradient(135deg, $color-primary 0%, $color-primary-dark 100%);
  border: 0;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  text-transform: initial;
  font-weight: initial;
  transition: 0.3s;
  font-family: inherit;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
    border: none;
    background: $color-black-dark;
    background: linear-gradient(180deg, $color-black-light 0%, $color-black-medium 15%, $color-black-dark 100%);
  }
}

input[type="submit"] {
  border: none;
}

#page input[type="submit"] {
  text-transform: initial !important;
  border: none !important;
  border-radius: 0 !important;
  font-family: "Ubuntu", "Lato", "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  box-shadow: none !important;
}