#page_universe {
  table {
    a {
      color: $color-black;
    }

    tr {
      &:first-child th {
        font-weight: bold;
        background: #f1f1f1;
        color: $color-black;
        padding: 12px 4px;
      }

      td {
        &.moc,
        &.mow,
        &.mod,
        &.gc {
          color: $color-black;
        }
      }
    }
  }
}


#intel {
  tr {
    th,
    td {
      color: $color-primary;
    }
  }
}


#load_box {
  background: white;
  border: 2px solid $color-primary;
}


.relations_own_member,
.relations_neutral,
.relations_nap,
.relations_war,
.relations_allied {
  outline: none;
}

.relations_war {
  background: rgba(255, 0, 0, 0.25);
}

.relations_nap {
  background: rgba(173, 173, 0, 0.2);
}

.relations_allied {
  background: rgba(166, 255, 0, 0.25);
}

.relations_own_member {
  background: rgba(0, 206, 0, 0.25);
}